# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

#hay "quien" compila dentro de la raiz del proyecto... gg
Code/CIAA_v1_0

*~

# Qt-es

Code/*.pro.user
Code/*.pro.user.*
Code/Makefile
moc_*.cpp
ui_*.h
qrc_*.cpp
CMakeLists.txt.user
CMakeLists.txt.user.*
build/
*-build-*


#doc directory
Doc/html/
**/*.html


git.rar
