# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

#hay "quien" compila dentro de la raiz del proyecto... gg
Code/CIAA_v1_0

*~

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
ui_*.h
qrc_*.cpp
Code/Makefile
*-build-*


#doc directory
doc/html/
**/*.html
